*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-areas: "result defails";
  place-items: inherit;
  gap: 30px;
  inline-size: 1140px;
  block-size: 100%;
  margin: 0 30px;
  color: #fff;
  font-family: "Fira Sans Condensed", Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-container {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 30px;
  height: 298px;
  width: 399px;
  overflow-y: scroll;
  overflow-x: auto;
}

.result__video-container {
  display: flex;
  position: relative;
  margin-bottom: 16px;
  height: 386px;
}

.result {
  margin-top: 75px;
}

.result__video {
  object-fit: cover;
  width: 100%;
}

.search-form {
  display: flex;
  align-items: flex-end;
  gap: 40px;
}

.button {
  font-family: "Fira Sans Condensed", Arial, Helvetica, sans-serif;
  background-color: transparent;
  border: 1px solid white;
  gap: 10px;
  color: white;
  font-size: 18px;
  width: 100%;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px double #ffffff;
  outline-width: 4px;
}

.button:active {
  background-color: #545050;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__fieldset-title {
  display: flex;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
  color: #fff;
  background-color: transparent;
  appearance: none;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid white;
  padding: 1px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  cursor: pointer;
}

.search-form__textfield {
  border: none;
  color: white;
  font-family: "Fira Sans Condensed", Arial, Helvetica, sans-serif;
  font-size: 18px;
  width: 225px;
  height: 27px;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  background-color: transparent;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.title {
  margin-bottom: 20px;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 75px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 94%;
}

.content__accent {
  color: rgb(78, 77, 77);
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  width: 390px;
  cursor: pointer;
}

.content__video-card-title {
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 195px;
}

.content__video-card-description {
  font-size: 18px;
  line-height: 16.2px;
  line-clamp: 4;
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.content__card-link {
  display: block;
  text-decoration-color: transparent;
  gap: 30px;
}

.content__card-link:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #fff;
}

.content__card-link:active {
  background-color: #545050;
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__list-item {
  padding: 3px;
}

.more-button {
  padding: 6px 0;
}


